<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing turn availability</h1>

  <%= render "form", turn_availability: @turn_availability %>

  <%= link_to "Show this turn availability", @turn_availability, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to turn availabilities", turn_availabilities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
